.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.frame {
  padding: .5em;
  text-align: left;
}

.button {
  width: 10em;
  background-color: green;
  color: white;
  display: inline-block;
  padding: .5em 1em;
  margin: 1em;
  text-align: center;
}

.button.reloading {
  background-color: grey;
}

.date-display.reloading {
  color: grey;
}

.date-display.error {
  color: red;
}

.patient-display.reloading {
  color: grey;
}

.patient-display.error {
  color: red;
}
